body {
    font-family: Lexend;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

table {
    width: 80%;
    margin: 0 auto;
}

table thead {
    text-align: left;
}
table thead tr th {
    position: relative;
    text-transform: uppercase;
    background-color: #ededed;
    user-select: none;
    font-weight: 200;
    font-size: 12px;
}
table thead tr th span.sort-arrow {
    position: absolute;
    display: block;
    top: 1px;
    right: 6px;
    font-size: 20px;
    color: #aaa;
}
table thead tr th[~data-sort] span.sort-arrow {
    display: none;
}
table thead tr th[data-sort="1"] span.sort-arrow::after {
    content: "\2b06";
}
table thead tr th[data-sort="2"] span.sort-arrow::after {
    content: "\2b07";
}

table thead tr th,
table tbody tr td {
    padding: 8px;
    border-bottom: 2px solid #ededed;
}
table tbody tr td {
    font-weight: 400;
}